/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* INDEX */
.bg {
  position: fixed;
  background-image: url('img/background.png');
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;

  background-position: center;
  background-repeat : no-repeat;
  background-size: cover;
  background-attachment: local;
}

.title-link:hover {
  text-decoration: none;
}

/* HOME */

.home-title {
  text-align: center;
}

.home-icon-current {
  height: 200px;
  width: 200px;
  display: block;

  background: url('img/current-icon.png') no-repeat center;
  background-size: cover;
  margin: 25px auto;
}

.home-icon-to-go {
  height: 200px;
  width: 200px;
  display: block;

  background: url('img/future-icon.png') no-repeat center;
  background-size: cover;
  margin: 25px auto;
}

.home-icon-finished {
  height: 200px;
  width: 200px;
  display: block;

  background: url('img/finished-icon.png') no-repeat center;
  background-size: cover;
  margin: 25px auto;
}

.home-row {
  background-color: rgba(255,255,255,0.7);
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
}

.home-title {
  font-size: 5em;
  margin-bottom: 25px;
  color: black;
}

.home-row-title {
  text-align: center;
  width: 100%;
}

.home-button {
  width: 100%;
  margin: auto;
}

.button-link {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* NO MATCH FOUND */
.no-match-found-container {
    width: 800px;
    margin: 20px auto;
}

.no-match-found-container .no-match-found-label {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}

/* FILTER BUTTONS*/
.button-container {
    width: 800px;
    margin: 0 auto;
}

.button-container button {
    width: 100%;
    font-size: 1.3em;
}

/* LIST ITEM */
.item-background {
  position: relative;
  background-image: url('img/tennis-court-item-background-2.png');
  height: 100%;
  width: 100%;

  margin: 0 auto;


  background-position: center;
  background-repeat : no-repeat;
  background-size: cover;
}

.item-container {
  margin: 20px auto;

  width: 800px;
  height: 370px;
}

.item-row-menu {
    height: 80px;
    width: 800px;
    margin: 0 auto;
}

.item-row-1 {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-row-2 {
    height: 60px;
    padding: 10px;
}

.item-row-3 {
    height: 60px;
    padding: 10px;
}

.item-row-4 {
    height: 60px;
    padding-top: 10px;
}

.item-row-5 {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-row-6 {
    height: 120px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}


.item-name-1 {
  font-size: 1.4em;
  padding-left: 8%;
  text-align: left;
}

.item-name-2 {
  font-size: 1.4em;
  padding-right: 8%;
  text-align: right;
}

.item-vs {
  font-size: 1.6em;
  text-align: center;
}

.item-serv-1 {
  width: 60px;
  height: 100%;
  position: relative;
  float: left;
  background-image: url("img/service-left.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.item-serv-2 {
    width: 60px;
    height: 100%;
    position: relative;
    float: right;
    background-image: url("img/service-right.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.item-point-label {
    font-size: 2em;
    text-align: center;
}

.item-cont {
    width: 40px;
    height: 100%;
    position: relative;
    background-image: url("img/contestation.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.item-cont-left {
    float: left;
}

.item-cont-right {
    float: right;
}

.item-point {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.item-game-label {
    font-size: 2em;
    text-align: center;
}

.item-set-player-1 {
    font-size: 2.5em;
    text-align: center;
}

.item-set-player-2 {
    font-size: 2.5em;
    text-align: center;
}

.item-point-player-1 {
    font-size: 1.6em;
    text-align: center;
}

.item-point-player-2 {
    font-size: 1.6em;
    text-align: center;
}

.item-time {
    font-size: 1.2em;
    text-align: left;
    padding-top: 20px;
}

.item-button-detail {
    margin: 0 auto;
    width: 100%;
    height: 70%;
    display: block;
}

.item-court {
    text-align: right;
    font-size: 1.2em;
    padding-top: 20px;
}

/* ITEM DETAIL */
.item-detail-container {
    width: 700px;
    margin: 0 auto;
    height: 1500px;
}

.item-detail-background {
    position: relative;
    background-image: url('img/tennis-court-detail.png');
    height: 100%;
    width: 100%;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;


    background-position: center;
    background-repeat : no-repeat;
    background-size: cover;
}

.item-detail-image-container {
    padding: 0;

}

.item-detail-row-1 {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    background-color: #6C917F;
    border: 13px solid white;
    border-bottom: none;
}

.item-detail-gain-label {
    font-size: 1.5em;
    padding-top: 5px;
    color: white;
}

.item-detail-bet {
    margin: 0;
    padding-top: 10px;
    font-size: 0.8em;
    color: white;
}

.item-detail-back-button {
    height: 70%;
    width: 70%;
    display: block;
    margin-top: 10px;
    margin-right: auto;
}

.item-detail-refresh-button {
    height: 70%;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    display: block;
}

.item-detail-refresh-button img, .item-detail-back-button img {
    height: 100%;
    width: 100%;
}

.item-detail-row-2 {
    height: 115px;
    width: 100%;
    margin: 0 auto;
}

.item-detail-player-1-set {
    position: relative;
    background-image : url('img/tennisball.png');
    margin: 0;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat : no-repeat;
    background-size: 100%;
}

.item-detail-bet-button {
    padding-top: 30px;
}

.item-detail-bet-button button {
    position: relative;
    display: block;
    width: 70%;
    height: 60px;
    margin: 0 auto;
    font-size: 1.2em;
    text-transform: uppercase;
}

.item-detail-player-1-cont {
    position: relative;
    background-image : url('img/contestation.png');
    margin: 0;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat : no-repeat;
    background-size: 100%;
}

.item-detail-player-1-serv {
    position: relative;
    width: 100%;
    height: 100%;
    background-image : url('img/service-left.png');
    margin: 0;

    background-position: center;
    background-repeat : no-repeat;
    background-size: 100%;
}


.item-detail-row-3 {
    height: 115px;
    width: 100%;
    margin: 0 auto;
}

.item-detail-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 35px;
}

.item-detail-row-4 {
    height: 115px;
    width: 100%;
    margin: 0 auto;
}

.item-detail-result {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: bold;
}

.item-detail-row-5 {
    height: 370px;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

.item-detail-jeu {
    font-size: 12em;
    text-align: center;
    display: block;
    height: 100%;
    font-weight: bolder;
}

.item-detail-point {
    font-size: 9em;
    padding-top: 50px;
    text-align: center;
    display: block;
    height: 100%;
    font-weight: bold;
}

.item-detail-row-6 {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}

.item-detail-jeu-label {
    text-align: center;
    font-size: 2.5em;
}

.item-detail-time {
    text-align: center;
    font-size: 2.5em;
}

.item-detail-point-label {
    text-align: center;
    font-size: 2.5em;
}

/* MODAL */
.modal-backdrop {
    opacity: 0.6;
}

/* MEDIA QUERIES */
@media screen and (max-width: 970px) {

  .home-row{
    width: 70%;
    margin: 15px auto;
  }
}

@media screen and (max-width: 1000px) {

    body.container {
        max-width: 100%;
        margin: 0;
    }

    .home-title {
        font-size: 3em;
    }

    .col-lg-6, .col-lg-4 , col-lg-2 {
        /*width: auto !important;*/
    }

    .item-row-menu .col-lg-8 {
        width: 60%;
    }
    .item-row-menu .col-lg-2 {
        width: 20%;
    }
    .item-row-menu .item-detail-refresh-button {
        width: 50px;
        height: 50px;
        float: right;
        height: auto !important;
    }
    .item-row-menu .item-detail-back-button {
        width: 50px;
        height: 50px;
        float: left;
        height: auto !important;
    }
    .item-row-1 .col-lg-5 {
        width: 40%;
    }
    .item-row-1 .item-name-1, .item-row-1 .item-name-2 {
        font-size: 20px;
    }
    .item-row-1 .col-lg-2 {
        width: 20%;
        padding: 0;
    }
    .item-row-2 .col-lg-4 {
        width: 33%;
    }
    .item-row-3 .col-lg-3 {
        width: 25%;
    }
    .item-row-4 .col-lg-4 {
        width: 33%;
    }
    .item-row-5 .col-lg-3 {
        width: 25%;
    }
    .item-row-6 .col-lg-4 {
        width: 33%;
    }

    .button-container .col-lg-4 {
        width: 33%;
    }

    .item-detail-row-1 .col-lg-6, .item-detail-row-1 .col-lg-4 {
        width: 40% !important;
    }

    .item-detail-row-1 .col-lg-2 {
        width: 10% !important;
    }

    .item-detail-row-1 .item-detail-back-button {
        width: 50px;
        height: 50px;
        float: left;
        height: auto !important;
    }
    .item-detail-row-1 .item-detail-refresh-button {
        width: 50px;
        height: 50px;
        float: right;
        height: auto !important;
    }

    .item-detail-row-2 .col-lg-6 {
        width: 50% !important;
    }
    .item-detail-row-2 .col-lg-1 {
        width: 9% !important;
    }

    .item-detail-row-2 .col-lg-2 {
        width: 16% !important;
    }



    .item-detail-row-3 .col-lg-6 {
        width: 50% !important;
    }
    .item-detail-row-3 .col-lg-1 {
        width: 9% !important;
    }

    .item-detail-row-3 .col-lg-2 {
        width: 16% !important;
    }

    .item-detail-row-4 .col-lg-6 {
        width: 50% !important;
    }
    .item-detail-row-4 .col-lg-1 {
        width: 9% !important;
    }

    .item-detail-row-4 .col-lg-2 {
        width: 16% !important;
    }

    .item-detail-row-5 .col-lg-2 {
        width: 15% !important;
    }
    .item-detail-row-5 .col-lg-4 {
        width: 35% !important;
    }

    .item-detail-row-6 .col-lg-2 {
         width: 20%!important;
    }

    .item-detail-row-6 .col-lg-8 {
        width: 60% !important;
    }



}

@media screen and (max-width: 900px) {
    .item-detail-row-1 .item-detail-gain-label {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 850px) {
    .item-container {
        width: 600px;
    }
    .item-background {
        background-size: contain;
        background-position: top;
    }
    .no-match-found-container{
        width: 600px;
    }
    .no-match-found-label {
        font-size: 20px !important;
    }
    .item-row-menu {
        width: 600px;
    }
    .item-row-menu .col-lg-8 {
        width: 0%;
        padding: 0;
    }
    .item-row-menu .col-lg-2 {
        width: 300px;
    }
    .item-row-menu .item-detail-refresh-button {

        /*display: block;
        margin: 0 auto;*/
    }

    .button-container {
        width: 600px;
    }
    .button-container .col-lg-4 {
        width: 100%;
        margin-bottom: 10px;
    }
    .item-row-1 {
        padding-bottom: 0;
        height: 40px;
    }
    .item-row-1 .item-name-1, .item-row-1 .item-name-2, .item-row-1 .item-vs {
        font-size: 15px;
    }
    .item-row-1 .item-vs p {
        margin-bottom: 0;
    }

    .item-row-2 {
        height: 40px;
        padding: 0;
        margin-top: 10px;
    }

    .item-row-2 .item-serv-1 {
        margin-left: 20px;
    }

    .item-row-2 .item-serv-2 {
        margin-right: 20px;
    }

    .item-row-2 .item-point-label {
        font-size: 25px;
    }

    .item-row-3 {
        padding: 0;
        height: 50px;
    }

    .item-row-4 {
        height: 40px;
        padding: 0;
    }

    .item-row-4 .item-game-label {
        font-size: 25px;
    }
    .item-row-6 {
        height: 40px;
        padding-top: 0;
        padding-bottom: 0px;
    }
    .item-row-6 .item-time {
        font-size: 15px;
    }
    .item-row-6 .item-court {
        font-size: 15px;
    }
    .item-row-6 .item-button-detail {
        height: 100%;
    }
}

@media screen and (max-width: 650px) {
    .item-container {
        width: 400px;
        height: 190px !important;
    }

    .no-match-found-container{
        width: 400px;
    }
    .no-match-found-label {
        font-size: 15px !important;
    }

    .item-background {
        height: 190px;
    }

    .item-row-menu {
        width: 400px;
    }
    .item-row-menu .col-lg-8 {
        width: 0%;
        padding: 0;
    }
    .item-row-menu .col-lg-2 {
        width: 200px;
    }
    .item-row-menu .item-detail-refresh-button {
        /*display: block;
        margin: 0 auto;*/
    }

    .button-container {
        width: 400px;
    }
    .button-container .col-lg-4 {
        width: 100%;
        margin-bottom: 10px;
    }
    .item-row-1 {
        height: 25px;
        margin: 0;
        padding-top: 5px;
    }
    .item-row-1 .item-name-1, .item-row-1 .item-name-2, .item-row-1 .item-vs {
        font-size: 10px;
    }


    .item-row-2 {
        height: 38px;
        padding: 0;
        margin-top: 5px;
    }

    .item-row-2 .item-serv-1 {
        margin-left: 20px;
    }

    .item-row-2 .item-serv-2 {
        margin-right: 20px;
    }

    .item-row-2 .item-point-label {
        font-size: 25px;
    }

    .item-row-3 {
        padding: 0;
        height: 20px;
    }

    .item-row-3 .item-point {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .item-row-4 {
        height: 25px;
        padding: 0;
    }

    .item-row-4 .item-game-label {
        font-size: 25px;
    }

    .item-row-5 {
        height: 35px;
    }
    .item-row-5 p {
        margin: 0;
    }
    .item-row-5 .item-set-player-1, .item-row-5 .item-set-player-2 {
        font-size: 25px;
    }

    .item-row-6 {
        height: 30px;
        padding-top: 0;
        padding-bottom: 0px;
        margin-top: 15px;
    }
    .item-row-6 p {
        font-size: 12px;
    }
    .item-row-6 .item-time {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .item-row-6 .item-court {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .item-row-6 .item-button-detail {
        height: 80%;
        width: 100%;
        font-size: 8px;
    }

}

@media screen and (max-width: 730px) {
    .item-detail-container {
        width: 500px;
        padding: 0 !important;
    }

    .item-detail-background {
        background-size: contain;
        background-position: top;
    }

    .item-detail-row-1 .item-detail-gain-label {
        font-size: 18px;
        padding-left: 15px;
    }
    .item-detail-row-1 .item-detail-bet {
        font-size: 12px;
        padding-right: 10px;
        padding-top: 5px;
    }

    .item-detail-row-2 {
        height: 85px;
    }
    .item-detail-row-2 .item-detail-bet-button {
        padding-top: 30px;
    }
    .item-detail-row-2 .item-detail-bet-button button {
        font-size: 12px;
        height: 30px;
    }

    .item-detail-row-3 {
        height: 85px;
    }
    .item-detail-row-3 .item-detail-name {
        font-size: 20px;
    }

    .item-detail-row-4 {
        height: 85px;
    }

    .item-detail-row-4 .item-detail-result {
        font-size: 25px;
    }

    .item-detail-row-5 {
        height: 245px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 530px) {
    .item-detail-container {
        width: 380px;
    }

    .item-detail-row-1 {
        height: 100px;
    }

    .item-detail-row-1 .item-detail-gain-label {
        font-size: 15px;
        padding-left: 25px;
    }
    .item-detail-row-1 .item-detail-bet {
        font-size: 10px;
        padding-right: 20px;
    }

    .item-detail-row-2 {
        height: 65px;
    }
    .item-detail-row-2 .item-detail-bet-button {
        padding-top: 20px;
    }
    .item-detail-row-2 .item-detail-bet-button button {
        width: 100%;
    }

    .item-detail-row-3 {
        height: 65px;
    }
    .item-detail-row-3 .item-detail-name {
        padding-top: 20px;
    }

    .item-detail-row-4 {
        height: 65px;
    }
    .item-detail-row-4 .item-detail-result {
        padding-top: 15px;
    }
    .item-detail-row-5 {
        padding-top: 0;
        height: 180px;
    }
    .item-detail-row-5 .item-detail-jeu {
        font-size: 130px;
    }
    .item-detail-row-5 .item-detail-point {
        font-size: 100px;
        padding-top: 20px;
    }

    .item-detail-row-6 .col-lg-2 {
        width: 30% !important;
    }
    .item-detail-row-6 .col-lg-8 {
        width: 40% !important;
    }
}
